<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <provider
            android:name="org.birthdayadapter.provider.BirthdayAdapterProvider"
            android:authorities="org.birthdayadapter"
            android:exported="false" />
    </application>

</manifest>